.App {
  text-align: center;
  font-size:medium;
 
  text-shadow: #45480a;
  color: rgb(3, 34, 69);
}

.p-name-field {
  margin: 1.2rem;
}

.list-div {
  padding: 0.8rem;
}

.list-all-names {
  margin: 0 auto;
  width: 50%;
  height: auto;
  overflow: scroll;
  border: 1px solid #7ebacc;
  border-radius: 6px;
}

.form-names {
  display: flex;
  flex-direction:row;
   align-items: center; 
   margin: 0 auto;
  justify-content: center;
  justify-content: space-evenly;
} 

.MuiSelect-select.MuiSelect-select {
  padding-right: 24px;
  width: 100px;
}

.form {
  width: 120%;
  margin-left: 350px;
  margin-right: 350px;
  margin-top:10px;
  object-fit: contain;
  text-align: center;
  background-color:bisque;
  padding: 20px;
}

.form1 {
  width: 120%;
  margin-left: 350px;
  margin-right: 350px;
}

.table {
  padding: 1px;
  font-family:fantasy;
}

.dropdown {
  padding: 20px;
  font-family:fantasy;
  background-color:bisque;
}

.Button{
    background-color: pink;
}

h1
{
  color:black;
  text-shadow: gray;
}
#key
{
  text-align: center;
  color:white;
  background-color:blueviolet;
}
